#stage{
	background-image: url("../images/css_animation_exercise_4.png");
	width: 600px;
	height: 600px;
	background-size: cover;
}
#hero{
	background-color:transparent;
	width: 73px;
	height: 73px;
	margin-left: 20px;
	margin-top: 20px;
	border:solid red 1px;
	border-style: dashed;
	position: absolute;
	animation: 17s hero linear forwards;
}
@keyframes hero {
	0%{
		left:0px; 
		top:0px;
	}
	29.41%{
		left: 480px;
		top: 0px;
	}
	41.17%{
		left: 480px;
		top: 180px;
		transform: rotate(0deg);
	}
	44.11%{
		left: 250px;
		top: 180px;
		transform: rotate(45deg);
	}
	55.87%{
		left: 250px;
		top: 180px;
		border:solid red 1px;
		transform: rotate(45deg);
	}
	70.58%{
		left: 0px;
		top: 184px;
		width: 73px;
		height: 73px;
		border:solid blue 1px;
		border-radius: 0%;
		opacity:1;
		transform: rotate(90deg);
	}
	70.59%{
		background:transparent;
		opacity:0;
	}
	100%{
		left: 422px;
		top: 421px;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		transform: rotate(90deg);
		border: none;
		opacity:1;
		background: radial-gradient(rgb(251,218,97),rgb(247,107,28));
	}
}